<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
    <header>
        <h1>Medicijn zoeken</h1>
        <form class="search-form" action="/search" method="GET">
            <input type="text" name="medicine" id="medicine" placeholder="zoek op medicijn of op RVG nummer">
            <button type="submit">medicijn zoeken</button>
        </form>
    </header>

    <section class="search-list">
        <% for(let i = 0; i < medicine.length; i++){%>
        <article>
            <%= medicine[i].registrationNumber %>
            <h2><a href="/medicine/<%= medicine[i].id %>"><%= medicine[i].name %></a></h2>
        </article>
        <% } %>
    </section>
</main>

<%- include('partials/footer') %>