<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main class="medicine">
    <section class="meds-results">
        <h2>Resultaten</h2>
        <div>
            <span>gescande document</span>
            <p> <%= text %> </p>
        </div>

        <h3>
            <%= meds.name %>

        </h3>
        <ul>
            <li>
                Registratienummer: <span><%= meds.registrationNumber %></span>
            </li>
            <li>
                Actieve ingredienten: <span><%= meds.activeIngredient %></span>
            </li>

        </ul>
    </section>
</main>

<%- include('../partials/footer')  %>