<%- include('../partials/head') %>
<nav class="nav-upload">
    <div class="top-nav">
        <img src="/assets/svg/udraw/meddy_single.svg" alt="">
    </div>
    <div class="back">
        <a href="/"><img src="/assets/svg/icon/arrow.svg" alt=""></a>
    </div>

</nav>
<main class="scan">
    <header class="upload-header">
        <h1>Upload een foto van jouw medicijn</h1>
        <h2>2. Medicijn scannen</h2>
    </header>
    <div class="container">
        <section class="upload-image">
            <div>
                <div class="loading-state">
                    <div>
                        <span class="letters">
                            Meddy.
                        </span>
                        <div class="scan-line"></div>
                    </div>
                </div>

                <% if(typeof image == 'string' && image) { %>
                <img src="/image/<%= image %>" alt="" class="show-image">
                <% } else{ %>
                <img src="/assets/svg/udraw/undraw_folder_x4ft.svg" alt="imgfolder">
                <% } %>
            </div>
        </section>
    </div>
    <div class="popup-results">
        <section class="upload-scan">

            <% if( typeof text == 'string'){%>
           
            <p>
                <span>Gescande tekst</span>
                <%= text  %>
            </p>
            <% } %>
            <% if(typeof text == 'string' && text.length <= 3 || typeof meds == 'object' && meds.rating < 0.3 ){ %>
            <span><%= text  %> </span>
            <p>geen passende resultaat gevonden</p>
            <% } %>

        </section>

        <% if( typeof meds == 'object' && !meds.rating && !meds.activeIngredient == ''){%>
        <section class="results-scan">
            <%- include('../partials/scanner_results') %>
        </section>
        <% } %>
    </div>
    <a href="/image-upload">kies een andere foto</a>


</main>
<%- include('../partials/footer')  %>