<%- include('../partials/head') %>
<%- include('../partials/header') %>
<main>
    <header class="upload-header">
        <h1>
            Medicijn zoeken
        </h1>
        <h2>
            1. Upload een foto
        </h2>
        <p>
            Om je medicijn te vinden, is het de bedoeling dat je een foto toe voegt van jou medicijn. De naam van de
            medicijn moet duidelijk in beeld staan.
        </p>
    </header>
    <div class="container">

        <section class="upload-image">
            <div>


                <div class="loading-state">
                    <div>
                        <span class="letters">
                            Meddy.
                        </span>
                        <div class="scan-line"></div>
                    </div>
                </div>
                <% if(typeof image == 'string' && image){ %>
                <img src="/image/<%= image %>" alt="" class="show-image">
                <% }else{ %>
                <img src="assets/svg/udraw/undraw_folder_x4ft.svg" alt="imgfolder">
                <% } %>

                <div>
                    <p>
                        Voeg een foto van je medicijn toe of maak een foto
                    </p>
                </div>
            </div>
            <form action="/upload-image-page" method="POST" enctype="multipart/form-data">
                <input type="file" name="scanmeds" id="file" class="inputfile" />
                <label for="file">kies een foto</label>
                <button type="submit" class="upload">scan de foto</button>
            </form>
        </section>
        <!-- 
        <div class="upload-container">
            <div id="image-place" class="place-holder">
                <div class="imageplaceholder">

                    <% if(typeof image == 'string' && image){ %>
                    <img src="/image/<%= image %>" alt="" class="show-image">
                    <% }else{ %>
                    <img src="assets/svg/udraw/undraw_folder_x4ft.svg" alt="">
                    <% } %>

                    <article>
                        <p>
                            gebruik je camera om een foto te maken

                        </p>
                        <span> of </span>
                    </article>
                </div>
                <div class="form-container">
                    <form action="/upload-image-page" method="POST" enctype="multipart/form-data">
                        <input type="file" name="scanmeds" id="file" class="inputfile" />
                        <label for="file">kies een foto</label>
                        <button type="submit" class="upload">scan de foto</button>
                    </form>
                </div>
            </div>
        </div> -->
        <section class="upload-scan">

            <% if( typeof text == 'string'){%>
            <h3>
                Scan
            </h3>
            <p><%= text  %> </p>

            <% } %>
            <% if(typeof text == 'string' && text.length <= 3 || typeof meds == 'object' && meds.rating < 0.3 ){ %>
            <span><%= text  %> </span>
            <p>geen passende resultaat gevonden</p>

            <% } %>
        </section>
        <% if( typeof meds == 'object' && !meds.rating && !meds.activeIngredient == ''){%>
        <section class="results-scan">
            <%- include('../partials/scanner_results') %>
        </section>
        <% } %>
    </div>

</main>
<%- include('../partials/footer')  %>