<%- include('../partials/head') %>
<%- include('../partials/header') %>
<main>
    <div class="loading-state">
        <div>
            <span class="letters">
                Meddy.
            </span>
            <div class="scan-line"></div>
        </div>
    </div>
    <div class="upload-container">
        <div id="image-place" class="place-holder">
            <div class="imageplaceholder">

                <% if(typeof image == 'string' && image){ %>
                <img src="/image/<%= image %>" alt="" class="show-image">
                <% }else{ %>
                <img src="assets/svg/imageload.svg" alt="">
                <% } %>

                <article>
                    <p>
                        gebruik je camera om een foto te maken

                    </p>
                    <span> of </span>
                </article>
            </div>
            <div class="form-container">
                <form action="/upload-image-page" method="POST" enctype="multipart/form-data">
                    <input type="file" name="scanmeds" id="file" class="inputfile" />
                    <label for="file">kies een foto</label>
                    <button type="submit" class="upload">scan de foto</button>
                </form>
            </div>
        </div>
    </div>

    <% if( typeof meds == 'object' && meds){%>
    <section class="meds-result">
        <%- include('../partials/scanner_results') %>
    </section>
    <% } %>


</main>
<%- include('../partials/footer')  %>